@font-face {
   font-family: Qanelas-regular;
   src: url(../fonts/Regular/Qanelas-Regular.woff);
   font-weight: 400;
 }

 @font-face {
   font-family: Qanelas-semibold;
   src: url(../fonts/SemiBold/Qanelas-SemiBold.woff);
   font-weight: 500;
 }

 @font-face {
   font-family: Qanelas-bold;
   src: url(../fonts/Bold/Qanelas-Bold.woff);
   font-weight: 600;
 }

 @font-face {
   font-family: Qanelas-extrabold;
   src: url(../fonts/ExtraBold/Qanelas-ExtraBold.woff);
   font-weight: 700;
 }